# {{ title }} ({{ difficulty }})

## Description

[Problem link]({{ originalLink }})

{{ description }}

## Bruteforce solution

```java
{{ code }}
```

What about the time complexity?  Can we do better?

## Optimisation


```java
{{ code }}
```

Let's calculate final complexity.